@page "/BookingConfirmation"

@using Request.HTTP.DTO.MovieTheatreDTO

<h3>BOKNINGS BEKRÄFTELSE</h3>
<div class="receipt-container" style="width: 100%; border: 2px solid #000000; border-radius: 8px; padding: 5px;">
    <h3>Booking Receipt</h3>
    <div class="mb-1">
        <label class="form-label">Namn:</label>
        <span>@booker.Name</span>
    </div>
    <div class="mb-1">
        <label class="form-label">Efternamn:</label>
        <span>@booker.LastName</span>
    </div>
    <div class="mb-1">
        <label class="form-label">Email:</label>
        <span>@booker.Email</span>
    </div>
    <div class="mb-1">
        <label class="form-label">Telefonnummer:</label>
        <span>@booker.PhoneNumber</span>
    </div>
    <div class="mb-1">
        <label class="form-label">Boknings nummer:</label>
        <span>@booker.BookingNumber</span>
    </div>
</div>

@code {
    [Parameter]
    public BookerDTO booker { get; set; }

    [Parameter]
    public ReservationDTO reservation { get; set; }

    [Parameter]
    public BookingConfirmationDTO bookingConfirmationDTO { get; set; }
}
